@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap");
:root {
    --text-color-E5E5E5: rgba(229, 229, 229, 1);
    --text-color-35363A: rgba(53, 54, 58, 1);

    --background-button-0085FF: rgba(0, 133, 255, 1);
    --background-button-037DEF: #037def;

    --background-color-35363A: rgba(53, 54, 58, 1);

    font-size: 62.5%;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    color: var(--text-color-E5E5E5);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--background-color-35363A);
}

/*              header css import in ../../components/header.css                */
main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main > section:nth-child(1) {
    width: 70%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

main > section:nth-child(1) > article {
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
}

main > section:nth-child(1) > article > h1 {
    font-weight: 600;
    font-size: 44px;
    line-height: 60px;

    letter-spacing: 0.05em;

    /*          muda colocaração do texto para um gradiente estilizado          */
    background: linear-gradient(90deg, #E5E5E5 10.95%, rgba(0, 133, 255, 0.28) 94.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

main > section:nth-child(1) > article > p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 25px;
    text-align: center;

    letter-spacing: 0.05em;
}

main > section:nth-child(1) > a {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 33px;
    font-size: 2.4rem;
    font-weight: 400;

    border: none;
    border-radius: 50px;
    background: var(--background-button-0085FF);
    box-shadow: 0px 0px 25px rgba(0, 133, 255, 0.55); /* box-shadow: eixoX eixoY Blur spread color; <- é essa a forma do boxshadow, explorem ela em algo :D*/
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

main > section:nth-child(1) > a:hover {
    background: var(--background-button-037DEF);
    box-shadow: 0px 0px 50px rgba(0, 133, 255, 0.55); /* box-shadow: eixoX eixoY Blur spread color; <- é essa a forma do boxshadow, explorem ela em algo :D*/
    transform: scale(1.1);
}
.Texto{
    font-size: 16px;
    margin: 50px;
    margin-top:1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-align: justify;
    text-justify:inter-word ;
    font-family: 'Space Grotesk', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0%;
}
.Titulo {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom:100px;
    font-family: 'Space Grotesk', Calibri, 'Trebuchet MS', sans-serif;
}
.Subtitulo {
    font-size: 32px;
    margin-bottom:25px;
    font-family: 'Space Grotesk', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    width: 45%;
    height: 55%;
   
}
#Imagem-aquaponia{
    width: 45%;
    height: 30%;
    float: left;
    padding: 15px;
    
}
#Imagem-aquaponia2{
    width: 45%;
    height: 30%;
    float: left;
    padding: 15px;
    
}