@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-family-poppins: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color-35363A);
}

main {
    background: url(../../assets/contact/contato-agricultores.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    position: relative;
    min-width: 1100px;
    min-height: 750px;
    display: flex;
    z-index: 1000;
    margin: 50px 0px;
    /* border-radius: 22px; */
    /* background-color: #fff; */

}

.container .contactInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: var(--text-color-E5E5E5);
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    border-radius: 22px;
}

.container .contactInfo h2 {
    color: var(--text-color-35363A);
    font-family: var(--font-family-poppins);
    font-size: 24px;
    font-weight: 500;
}

.container .contactInfo ul.info {
    position: relative;
    margin: 20px 0;
}

.container .contactInfo ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
    font-size: 1.4rem;
}

.container .contactInfo ul.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

/* for gmail */
.container .contactInfo ul.info li span a {
    color: var(--text-color-35363A);
    font-family: var(--font-family-poppins);
    text-decoration: none;
    width: 30px;
    min-width: 30px;

}

.container .contactInfo ul.info li span:nth-child(1) img {
    max-width: 100%;
    filter: var(--background-color-35363A);
}

.container .contactInfo ul.info li span:nth-child(2) {
    color: var(--text-color-35363A);
    font-family: var(--font-family-poppins);
    margin-left: 10px;
    font-weight: 300;
}

.container .contactInfo ul.sci {
    position: relative;
    display: flex;
}

.container .contactInfo ul.sci li {
    list-style: none;
    margin-right: 15px;
}

.container .contactInfo ul.sci li a {
    text-decoration: none;
}

.container .contactInfo ul.sci li a img {
    filter: var(--background-color-35363A);
}

.container .contactForm {
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    backdrop-filter: blur(10px);
    background: rgba(var(--text-color-E5E5E5), .5);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
}

.container .contactForm h2 {
    color: var(--text-color-E5E5E5);
    font-family: var(--font-family-poppins);
    font-size: 24px;
    font-weight: 500;
}

.container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container .contactForm .formBox .inputBox {
    position: relative;
    margin-bottom: 35px;
}

.container .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

.container .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0px;
    font-size: 18px;
    font-weight: 300;
    background: rgba(0,0,0,.1);
    font-family: var(--font-family-poppins);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--text-color-E5E5E5);
    border-radius: 4px;
}

.container .contactForm .formBox .inputBox textarea {
    height: 120px;
}

.container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 4px;
    pointer-events: none;
    color: var(--text-color-E5E5E5);
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.container .contactForm .formBox .inputBox input:focus~span,
.container .contactForm .formBox .inputBox input:valid~span,
.container .contactForm .formBox .inputBox textarea:focus~span,
.container .contactForm .formBox .inputBox textarea:valid~span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--text-color-E5E5E5);
    font-family: var(--font-family-poppins);
    font-weight: 500;
}

/* Css for the submit button */
.container .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: var(--background-button-0085FF);
    border-radius: 20px;
    color: var(--text-color-35363A);
    font-family: var(--font-family-poppins);
    border: none;
    max-width: 150px;
    padding: 12px;

}

.container .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: var(background-button-037DEF);
}

/* make the form responsive */
@media (max-width: 1200px) {
    .container {
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    }

    .container .contactInfo {
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
        border-radius: 0px;
    }

    .container .contactForm {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
        border-radius: 0px;
    }
}

@media (max-width: 991px) {
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: var(--background-color-35363A);
    }

    section::before {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .container .contactForm {
        width: 100%;
        height: auto;
        border-radius: 0px;
    }

    .container .contactInfo {
        width: 100%;
        height: auto;
        flex-direction: row;
        border-radius: 0px;
    }

    .container .contactInfo ul.sci {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .container .contactForm {
        padding: 25px;
    }

    .container .contactInfo {
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .container .contactInfo ul.sci {
        margin-top: 40px;
    }

    .container .contactForm .formBox .inputBox.w50 {
        width: 100%;
    }
}