<header>
    <section>
        <a href="./index.html" target="_parent" rel="noopener noreferrer">
            FarmSpot
        </a>
        <nav>
            <ul>
                <li>
                    <a href="./src/pages/Agricultura/AgriculturaSust.html" target="_blank" rel="noopener noreferrer" class="white-color">
                        Agricultura
                    </a>
                </li>
                <li>
                    <a href="./src/pages/Modelosdecultivo/modelosdecultivo.html" target="_blank" rel="noopener noreferrer" class="white-color">
                        Cultivo Eficiente
                    </a>
                </li>
                <li>
                    <a href="" target="_blank" rel="noopener noreferrer" class="white-color">
                        IA Generativa
                    </a>
                </li>
                <li>
                    <a href="./src/pages/Contato/Contato.html" target="_blank" rel="noopener noreferrer" class="white-color">
                        Contato
                    </a>
                </li>
            </ul>
        </nav>
        <div>
            <div>
                <a href="#">Log In</a>
            </div>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </section>
</header>
<!-- esse header é somente um exemplo para uso de componentes, não é parte do site -->

<script src="./src/scripts/mobileNavBar.js" defer></script>
<!-- O uso do script é obrigatório para a responsividade -->